<div class="gf-message">
    <%= render partial: "shared/pagetitle", locals: { pagetitle: 'Our Journey to Dreams' } %>
    <div class="container">
        <div class="gf-message-wrapper">
            <div class="content col-md-8 offset-md-2">
                <p class="text-center">
                    Empowering all people to be plant people — a collection of articles from The Sill’s team of Plant
                    Experts across a variety of plant care topics to inspire confidence in the next generation of plant
                    parents. Welcome to Plant Parenthood™.

                </p>
                <p class="text-center">Luckily, we have a few ideas on watering for optimum plant health.</p>
            </div>
            <div class="gf-sign-content d-flex">
                <div class="gf-sign" data-aos="fade-right">
                    <%= image_tag("signature.png", :alt => "homepage") %>
                </div>
                <div class="cgf-name" data-aos="fade-left">
                    <%= render partial: "shared/pagetitle", locals: { pagetitle: 'JV Connection' } %>
                </div>
            </div>
        </div>
    </div>
</div>
