<div class="container">
	<%= render partial: "shared/page_header", locals: { title: '会社概要' } %>
	<div class="about-wrapper">
		<div data-aos="fade-up">
			<div class="info-wrapper">
				<label class="lbl-about-us">社名</label>
				<h4 class="company-name">
					株式会社J-V CONNECTION
				</h4>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">住所</label>
				<h5>
					兵庫県神戸市兵庫区大開通１０丁目２－１６　初阪第一ビル3階
				</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">TEL / FAX</label>
				<h5>
					078-531-0291 / 078-531-0239
				</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">Email</label>
				<h5>
					nganguyen@j-vconnection.com
				</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">設立</label>
				<h5>２０１９年１月</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">資本金</label>
				<h5>500万</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">代表者</label>
				<h5>グェン　ティ　ガー</h5>
			</div>

			<div class="info-wrapper multiple">
				<label class="lbl-about-us">主な事業の内容</label>
				<ul>
					<li><i class="fa fa-check-circle"></i> 海外人材を対象とした有料職業紹介事業</li>
					<li><i class="fa fa-check-circle"></i> 海外人材就職後のケアに関する支援事業</li>
					<li><i class="fa fa-check-circle"></i> 不動産の仲間、売買、管理及び賃貸</li>
					<li><i class="fa fa-check-circle"></i> 翻訳・通訳業務</li>
				</ul>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">言語対応</label>
				<h5>
					日本語・ベトナム語・英語
				</h5>
			</div>

			<div class="info-wrapper">
				<label class="lbl-about-us">許可番号</label>
				<h5>
					有料職業紹介事業
				</h5>
			</div>
		</div>

		<div class="d-flex info-image" data-aos="fade-up">
			<div class="bg-image">

			</div>
			<div class="content">
				<p class="mb0">
					日本とベトナムのかけ橋を目指し、日本のお客様から株式会社J-VCONNECTIONが「信頼のパートナー」であるとの高い評価を獲得する決意で、日本とベトナムの友好関係を発展させるために精一杯貢献します。
				</p>
			</div>
		</div>

		<div class="info-icon" data-aos="fade-up">
			<div class="info-title">
				<h2>社是</h2>
				<div class="content-wrapper d-flex">
					<div class="content">
						<%= image_tag("handshake.png", :alt => "win-win") %>
						<p class="mb0">WIN - WIN</p>
					</div>

					<div class="content">
						<%= image_tag("people.png", :alt => "win-win") %>
						<p class="mb0">人は発展の中心</p>
					</div>

					<div class="content">
						<%= image_tag("customer.png", :alt => "win-win") %>
						<p class="mb0">お客様は第一</p>
					</div>

				</div>
			</div>
		</div>

		<div class="info-manager" data-aos="fade-up">
			<div class="info-title">
				<h2>経営理念</h2>
			</div>
			<p class="mb0">
				お客様の信頼で人類・社会の発展に貢献します。
			</p>
		</div>

	</div>
</div>
