<%= render partial: "shared/page_header", locals: { title: t(".title") } %>

<div class="container mt50">
	<div class="about-wrapper">
		<div data-aos="fade-up">
			<p>増えている外国人労働者
			<br/>
			<br/>
	日本の少子高齢化は歯止めがかからず、労働者人口は減っていくばかりで、改善する気配がありません。労働者の確保は、産業界にとってはまさに死活問題ですから、
			<br/>
			<br/>
	「労働力として移民政策を推進するべき」という意見もあるほどです。しかし、日本は多民族国家ではありませんし、他文化共存という土壌もありません。そのため、
			<br/>
			<br/>
	移民に対する好意的な反応は少ないようです。
			<br/>
			<br/>
	一方で、日本で就労する外国人労働者は増えています。厚生労働省が発表した「『外国人雇用状況』の届出状況表一覧（（平成28年10月末現在））」によれば、
			<br/>
			<br/>
	国内の外国人労働者は、東日本大震災の影響で一時的にマイナスに転じたものの、2012年以降、加速度的に増えていき、2016年10月末の時点で約108万人にも達しています。
			<br/>
			<br/>
			<br/>
	外国人労働者の受け入れには、メリットもデメリットもある
			<br/>
			<br/>
	外国人労働者の受け入れについては、メリットとデメリットがあります。世間の論調としては、移民政策と絡むことから、デメリットが強調されてきましたが、
			<br/>
			<br/>
	決してマイナス面ばかりではありません。まずはプラスとマイナスの両方に目を向け、その上で「必要かどうか」「必要ならば、どのような受け入れ態勢を整えるべきか」
			<br/>
			<br/>
	を考えるのが人事部の役割でしょう。
			<br/>
			<br/>
	ではまず、外国人労働者を受け入れることのメリットについて見ていきましょう。
			<br/>
	・若い労働力を補充できる
			<br/>
	最大のメリットがこれでしょう。少子化によって日本の若い労働力は年々価値が高まるばかりで、新卒採用は完全に売り手市場になっています。海外からの若い人材は、
			<br/>
			<br/>
	そうした穴を埋めて余りあるものがあります。
			<br/>
			<br/>
	・社内環境の活性化
			<br/>
	外国人労働者の中には、向上心の高い意欲的な人材も多く、日本人とは異なる仕事への姿勢は、組織にとって大きな刺激となります。
			<br/>
			<br/>
	ともすれば、マンネリ化していた社内の停滞ムードを吹き飛ばし、社員の就労意識の向上にも役立つことが期待できるでしょう。
			<br/>
			<br/>
	・グローバル化への対応が可能
			<br/>
	会社が海外への進出を考えているのなら、進出予定地域出身の人材を得ることで、大きく貢献してもらえます。市場調査から社員の渡航、
			<br/>
			<br/>
	現地の商習慣や習俗のレクチャーなど、多くの役割を期待できます。
			<br/>
			<br/>
	・異なる視点からの発想
			<br/>
	日本とは異なる文化が背景にあれば、日本人とはまったく違う発想やアイディアが出てくるでしょう。それは、日本人スタッフにとっても強烈な刺激となりますし、
			<br/>
			<br/>
	新たなものを生み出すきっかけにもなります。
			<br/>
			<br/>
	このように、外国人労働者がもたらすメリットは多々あります。外国人労働者は、あなたの会社が抱えている課題を解決する、強力な手段となるかもしれません。
			<br/>
	デメリットもしっかり検討するべき
			<br/>
	さまざまなメリットがある一方で、デメリットにも目を向けなくてはいけません。海外からの労働者を迎え入れるデメリットとしては、どのようなものがあるでしょうか？
			<br/>
	・文化や習慣の違い
			<br/>
	異文化を背景にした視点や発想の違いは「両刃の剣」です。メリットになることもあれば、マイナスに作用することもあります。異文化に対する理解と配慮が必要になります。
			<br/>
	また、日本人同士であれば「言わずもがな」「空気を読む」という調子で意思の疎通が図れるとしても、外国人が相手ではそうはいきません。はっきり正確に伝えなければ、
			<br/>
			<br/>
	コミュニケーションが成り立たないケースもあります。
			<br/>
			<br/>
	・日本人求職者の就労機会を奪う
			<br/>
	マクロ視点で見れば、日本人求職者の就労機会を奪うということもいえます。ですが、人材不足が深刻化している現状では、これは仕方のないことでしょう。
			<br/>
	どんな点に注意すればいいか
			<br/>
	こうしたメリット・デメリットのほか、外国人労働者を迎え入れる際には注意しておくべき点がいくつかあります。
			<br/>
	・異文化と民族性を理解する
			<br/>
	前項でも少し触れましたが、気質や常識は世界共通ではありません。例えば、中国人や韓国人は体面を重んじる文化があるため、「メンツが傷つく」ことをとても嫌います。
			<br/>
	・差別的待遇の禁止
			<br/>
	「外国人労働者＝安価な労働力」という見方は根強いようですが、国籍を理由とした賃金や労働時間等の差別は禁止されています。
			<br/>
	・労務管理の知識と実践が必要
			<br/>
	基本的なことですが、日本での滞在資格や就労資格があるかどうか、その職種に就く資格があるのかどうかの確認が必要です。さらに、外国人労働者を一定数以上雇用するときには、
			<br/>
			<br/>
	管理責任者を選定しなくてはなりません。
			<br/>
			<br/>
	このように、外国人労働者の受け入れに関しては、人事部としてやるべきことは多々ありますし、受け入れ後のケアも必要になります。つまり、「手間が増える」ことになりますが、
			<br/>
			<br/>
	企業にとっては「多様性への対応促進」という側面も持っています。
			<br/>
			<br/>
	人事部が、さまざまな個性と背景を持つ「人」を相手にするものであるならば、外国人労働者の受け入れは、まさにその本領を発揮する機会となるのではないでしょうか。
			</p>
			<br/>

			<p>■ すべて弊社にお任せください
			<br/>
深刻な労働力不足が続く現在の日本。外国人の採用に興味を持たれている企業様も多いのではないでしょうか。
			<br/>
			<br/>
弊社はベトナム人を中心とする外国人を、人材不足に悩む企業様に紹介する人材紹介を中心に事業を行っております。
			<br/>
			<br/>
弊社が有する豊富な人材の中から、企業様が必要とする人材の紹介、履歴書の手配、面接のお手伝い、ビザ申請、住居探し、引越しのお手伝、入社後のサポートまで、外国人従業員の採用を手厚くサポートいたします。
			<br/>
			<br/>
■ 弊社代表者が直接ご説明に伺います
			<br/>
			<br/>
外国人従業員は言葉の問題や文化の違いなど、難しい面も多少はありますが、一度採用された企業様の多くは、 彼らのまじめな働きぶりや、定着率の高さに満足されており、繰り返し外国人を採用されています。
			<br/>
			<br/>
大企業のお客様の中には、当初コンプライアンスを心配される方も少なくありませんが、弊社では法令遵守を重視しておりますので、 安心してお付き合いいただいております。
			<br/>
			</p>
			<br/>
			<br/>

			翻訳
			<br/>
			<br/>
			ご依頼の案件ごとにプロジェクトチームを結成。お見積もりから納品まで、迅速かつ丁寧な仕事を心がけます。
			<br/>
			<br/>
			<table class="table table-bordered">
			  <tbody>
			    <tr>
			      <th scope="row" class="th-table-bussiness-content">サービス内容</th>
			      <td>日本語⇔各外国語の翻訳、校正、リライト、ローカライゼーション</td>
			    </tr>
					<tr>
			      <th scope="row" class="th-table-bussiness-content">ジャンル</th>
			      <td>ビジネス一般文書(メール、案内状など)、ビジネス各専門分野の資料(プレゼン資料、マニュアルなど)、書籍、WEBコンテンツ、チラシ、パンフレット(会社案内、観光案内など)、広告、看板・街頭表示、店頭表示、商品説明、飲食店メニュー</td>
			    </tr>
					<tr>
			      <th scope="row" class="th-table-bussiness-content">ファイル形式</th>
			      <td>ご要望に応じます（通常はWord、Excel、Power Point）</td>
			    </tr>
					<tr>
			      <th scope="row" class="th-table-bussiness-content">納品までの流れ</th>
			      <td>お見積もり→受注→翻訳→テクニカルチェック（必要な場合のみ） →ネイティブチェック→最終チェック→納品</td>
			    </tr>
					<tr>
			      <th scope="row" class="th-table-bussiness-content">料金</th>
			      <td>原文1文字につき10円～。金額は内容や納期により異なりますので、お気軽にお問い合わせください。なお、料金には翻訳料の他、チェック料も含みます。</td>
			    </tr>
			  </tbody>
			</table>
			通訳
			<br/>
			<br/>
			TPOをわきまえた、経験豊富なプロの通訳者が円滑なコミュニケーションのお手伝いをいたします。
			<br/>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th scope="row" class="th-table-bussiness-content">サービス内容</th>
						<td>アテンド、受付、商談、セミナー、観光ガイドなどの逐次または同時<br/>通訳</td>
					</tr>
					<tr>
						<th scope="row" class="th-table-bussiness-content">料金</th>
						<td>金額は内容や時間により異なります。お気軽にお問い合わせください。</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
