<div class="container">
	<%= render partial: "shared/page_header", locals: { title: t(".title") } %>

	<div>
		<h4 class="accent-color">「技術、人文知識・国際業務」は、大学、専門学校を卒業した人や実務経験のある人の在留資格（ビザ）です。</h4>
		<p>
			「技術、人文知識・国際業務」は、入国管理局の在留資格の名称です。
			<br/>
			『技術』、『人文知識』、『国際業務』の３つの分野をまとめた在留資格（ビザ）です。
			<br/>
			あなたは、次の場合、『在留資格（ビザ）・「技術、人文知識・国際業務」』の可能性があります。
			<br/>
  		1. <strong>日本の大学</strong>を卒業、または卒業見込みの外国人
			<br/>
			2. <strong>日本の専門学校</strong>を卒業、または卒業見込みの外国人
			<br/>
			3. <strong>海外の大学</strong>を卒業、または卒業見込みの外国人
			<br/>
			4. 海外の専門学校を卒業、または卒業見込みの外国人
			<br/>
			5. 日本または海外で<strong>大学と同等以上の教育</strong>をうけた外国人⇒在留資格・「技術」のIT資格
			<br/>
			6. やろうとする仕事（単純労働はダメ！）に関し、「１０年以上」または「※３年以上」の<strong>実務経験</strong>がある外国人。
			<br/>
			※「国際業務（翻訳・語学の指導など）」の分野に関しては、「３年以上の実務経験」になります。
			<br/>
			※ただし、この「国際業務」は、<strong>『大学卒業者』で、職種が『翻訳、通訳、語学教師』</strong>である場合に限り、<strong>実務経験は</strong>「なくてもよい」となっています。
			<br/>
			「大学卒業者」のみの特典で、「専門学校生」には、「実務要件なし」の特典はありません。
			<br/>
			<br/>
			在留期間は、
			<br/>
			「５年」、「３年」、「１年」、「３月」のいずれかです。
			<br/>
		</p>
	</div>

	<div>
		<h4 class="accent-color">「技術、人文知識・国際業務」の登場人物は、「外国人」、「会社」、「入国管理局」です。</h4>
		<p>
			「技術、人文知識・国際業務」の在留資格（ビザ）をとるには、次の３人が登場します。
			<br/>
			１．日本の会社就職したい<strong>「外国人」</strong>
			<br/>
			大学、専門学校卒業あるいは卒業見込みで、日本の会社などに就職を希望する外国人です。
			<br/>
			２．「外国人」を採用したい<strong>「会社」</strong>など
			<br/>
		   	日本にいる外国人留学生（＝大学生・専門学校生）を採用したい。
			<br/>
  		⇒「外国人留学生」と協力し、入国管理局に「留学」から「技術、人文知識・国際業務」の在留資格変更許可申請します。
			<br/>
			入国管理局への申請書の２枚目には申請人である「外国人のサイン欄」、４枚目には「会社の押印欄」があります。
			<br/>
			※くわしい会社の在留資格変更許可申請はこちら（会社総務、人事担当さま用）
			<br/>
			３．「外国人」と「会社」の審査をする<strong>「入国管理局」</strong>
			<br/>
			「入国管理局」は、「留学」などから「技術、人文知識・国際業務」の在留資格変更許可申請の審査をします。
			<br/>
			主に、外国人と会社の「在留資格該当性」と「上陸許可基準適合性」を審査します。
			<br/>
		</p>
	</div>

	<div>
		<h4 class="accent-color">実は『技術』分野、『人文知識』分野、『国際業務』分野にわけることができます。</h4>
		<p>
			「技術、人文知識・国際業務」の在留資格を分野別にわけると、
			<br/>
			１．理科系の勉強をした外国人は、<strong>『技術』分野</strong>になります。
			<br/>
			<strong>『技術』分野</strong>・・・「システムエンジニア」、「プログラマー」、「精密機械の設計・開発」、「建設機械の設計・開発」など
			<br/>
			<br/>
			２．文科系の勉強をした外国人は、<strong>『人文知識』分野か『国際業務』分野</strong>になります。
			<br/>
			<strong>『人文知識』分野</strong>・・・「経理・会計」、「総合職」、「金融」、「コンサルタント」など
			<br/>
			<br/>
			『国際業務』分野・・・「翻訳・通訳」、「語学の先生」、「広報・宣伝」、「貿易取引業務」、「デザイン業務」、「商品開発」などになります。
		</p>
	</div>
</div>
