<%= render partial: "shared/page_header", locals: { title: '事業内容' } %>

<div class="container mt50">
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="sticky-menu">
        <ul class="list-inline">
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail1')">
              <i class="fa fa-angle-right"></i>
              有料職業紹介事業</a>
          </li>
          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail2')">
              <i class="fa fa-angle-right"></i>
              翻訳・通訳業務</a>
          </li>

          <li>
            <a href="javascript:void(0)" onclick="scrollToID('jobDetail3')">
              <i class="fa fa-angle-right"></i>
              不動産の売買、賃貸、仲介、管理</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-9 col-12">
      <div class="about-wrapper">

        <blockquote class="text-center mt40">
          Ｊ－Ｖ　ＣＯＮＮＥＣＴＩＯＮは、ベトナム人技術者紹介　・　日越貿易　・　ベトナム進出コンサルティング・不動産を請け負っております。<br>
          ベトナムに関連会社・日本語学校を持っているので豊富な人材や経験があります。
        </blockquote>
        <div id="jobDetail1" class="clearfix">
          <div class="info-title">
            <h2>有料職業紹介事業
            </h2>
          </div>
          <div class="info-wrapper">
            <div>
              <%= image_tag "job-detail-1.png", class: "alignright" %>
              <div class="content">
                <ul class="list-inline">
                  <li>□　人材が集まらない</li>
                  <li>□　採用してもすぐに辞めてしまう</li>
                  <li>□　外国人を採用したいが、どうしたらいいのか分からない</li>
                </ul>

                <p>
                  このようなお悩みをお持ちの事業者様に、私たちは日本語が話せるベトナム系のエンジニア等をご紹介しております。人材の選定・紹介から <br>
                  就労ビザの取得、採用手続き、採用後のサーポートまで経験豊富なJ-V CONNECTIONにお任せてください
                </p>

                <p>
                  ベトナムの短大以上を卒業した若くて優秀な技術者をご紹介致します。<br>
                  就労期間に制限が無くビザを更新し続ける限り無期限に就労することが可能です<br>
                  日本人と同じく勤勉で手先が器用、また出勤率、定着率もほぼ100%です。<br>
                  御社のご希望に沿った人材を弊社で選別しご紹介差し上げます。<br>
                  安定した工数、人材の確保が見込むことができ、生産性の向上につながります。<br>
                  人材紹介成約後の雇用条件に関しては、貴社の就業規則に準拠致します。（福利厚生、休日、残業代など）技術者料金<br>
                </p>
              </div>
            </div>
          </div>
          <h4 class="accent-color">技術者料金</h4>

          <div class="d-flex flex-wrap">
            <div class="content-left col-12 col-md-6 mb20">
              <span>
                申込費
              </span>
              <span>協賛費用</span>
              <p><span>管理費</span>０円</p>
            </div>
            <div class="content-right col-12 col-md-6 mb20">
              <span>
                紹介料
              </span>
              <p>基本給料　１，５　～　２ヶ月分</p>
            </div>
          </div>
          <div class="info-wrapper">
            <div>
              <p>人材紹介成約後の雇用条件に関しては、貴社の就業規則の準拠致します。（福利厚生、休日、残業代など）</p>
              <p>
                ① 紹介料について<br>
                業界最安値の見積額をお約束します。<br>
                【直接雇用のご紹介の場合】基本給料1,5～2ヶ月分(税別)※採用人数による<br>
                【brt派遣社員のご紹介の場合】月額10,000円(税別)
              </p>
              <p>
                ②人材紹介成約後の補償期間について<br>
                【直接雇用のご紹介の場合】<br>
                ～3カ月以内退職届の場合→キャンセル（全額返還）<br>
                3カ月～6カ月以内退職の場合→上記紹介料の50％返還
              </p>

              <p>
                【派遣社員のご紹介の場合】<br>
                退職した場合→紹介料は退職月までとし、最終月は日割り計算とする。<br>
                ※日割り計算する場合は、当該月の暦日数をもって計算する。
              </p>
            </div>
          </div>
        </div>

        <div id="jobDetail2" class="clearfix">
          <div class="info-title">
            <h2>翻訳・通訳業務
            </h2>

            <h4 class="accent-color">翻訳</h4>

            <p>ご依頼の案件ごとにプロジェクトチームを結成。お見積もりから納品まで、迅速かつ丁寧な仕事を心がけます。</p>

            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td style="min-width: 150px">サービス内容</td>
                    <td>日本語⇔各外国語の翻訳、校正、リライト、ローカライゼーション</td>
                  </tr>
                  <tr>
                    <td>ジャンル</td>
                    <td>ビジネス一般文書(メール、案内状など)、ビジネス各専門分野の資料(プレゼン資料、マニュアルなど)、書籍、WEBコンテンツ、チラシ、パンフレット(会社案内、観光案内など)、

                      広告、看板・街頭表示、店頭表示、商品説明、飲食店メニュー</td>
                  </tr>

                  <tr>
                    <td>ファイル形式
                    </td>
                    <td>ご要望に応じます（通常はWord、Excel、Power Point）</td>
                  </tr>

                  <tr>
                    <td>納品までの流れ</td>
                    <td>お見積もり→受注→翻訳→テクニカルチェック（必要な場合のみ） →ネイティブチェック→最終チェック→納品</td>
                  </tr>

                  <tr>
                    <td>料金</td>
                    <td>原文1文字につき10円～。金額は内容や納期により異なりますので、お気軽にお問い合

                      わせください。なお、料金には翻訳料の他、チェック料も含みます。</td>
                  </tr>
                </tbody>
              </table>

              <h4 class="accent-color">通訳</h4>

              <p>TPOをわきまえた、経験豊富なプロの通訳者が円滑なコミュニケーションのお手伝いをいたします。</p>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td style="min-width: 150px">サービス内容</td>
                      <td>アテンド、受付、商談、セミナー、観光ガイドなどの逐次または同時通訳</td>
                    </tr>
                    <tr>
                      <td>料金</td>
                      <td>金額は内容や時間により異なります。お気軽にお問い合わせください。</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div id="jobDetail3" class="clearfix">
          <div class="info-title">
            <h2>不動産の売買、賃貸、仲介、管理</h2>
          </div>

          <div>
            <div class="d-flex flex-wrap">
              <div class="col-12 col-md-5">
                <%= image_tag "job-detail-2.png", class: "alignright" %>
                <p class="text-center">
                  慣れない日本の生活を快適さの面から支える、外国人向けの賃貸物件（マン<br>

                  ション・アパート）特集！外国籍の方でも入居が可能な賃貸物件があります。<br>

                  短期～長期の留学でも快適な生活ができるよう、お部屋探しで周辺情報も<br>

                  しっかりチェックしておきましょう
                </p>
              </div>
              <div class="col-12 col-md-7">
                <h4 class="accent-color">
                  外国人の方向けの賃貸物件（マンション・アパート）のポイント
                </h4>

                <ul class="list-inline">
                  <li>
                    <h5 class="accent-color">
                      ①インターネットから外国人向け賃貸物件（マンション・アパート）情報を検索
                    </h5>
                    <p>
                      少し前までは店頭に行かなければ情報が手に入らなかった外国人向け賃貸物件。外国籍の<br>
                      入居者増加やインターネット普及の影響もあり、パソコンやスマホでも賃貸マンションや<br>
                      賃貸アパートを探せるようになりました。
                    </p>
                  </li>

                  <li>
                    <h5 class="accent-color">
                      ②審査はあるが協力的な会社も増加しており外国人向け賃貸を見つけやすい
                    </h5>

                    <p>
                      賃貸物件の契約を行う際には、入居審査が必要です。日本での賃貸契約に不慣れな外国人<br>
                      の方向けにサポート体制を整えている不動産会社もあるので相談してみましょう。<br>
                    </p>
                  </li>

                  <li>
                    <h5 class="accent-color">
                      ③外国語が堪能な大家さんがいる外国人向け賃貸物件も！
                    </h5>
                    <p>
                      不慣れな日本生活でも、何かあったときには頼りになる存在が必要です。賃貸物件によっ<br>
                      ては英語が話せる大家が常駐していたり、外国人をメインに入居者を募集していたりする<br>
                      場合もあるため、はじめての契約ならなるべく希望を伝えてみましょう。
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <%= render "/shared/contact_us"%>
    </div>
  </div>
</div>
