<%= render partial: "shared/page_header", locals: { title: 'Q&A' } %>
<div class="container mt50">
  <div class="">
    <div class="question-item">
      <h4 class="accent-color"><strong>
        外国籍の方の雇用手続きや、採用時の注意点を教えてください。
      </strong></h4>
      <div class="answer-area">
        <ul class="list-inline">
          <li>
            <p>
              ■入国要件の確認<br>
              パスポートの期限は切れていないか？<br>
              入国査証（ビザ）を受けているか？
            </p>
          </li>
          <li>
            <p>
              ■就労資格の確認
              どの種類の在留資格を認められているか？
              就労が認められない在留資格の場合は資格外活動許可を得ているか？
            </p>
          </li>
          <li>
            <p>
              ■現住所の確認
              外国人登録証が発行されているか？
              登録証の住所は、現在住んでいる住所として登録されているか？
            </p>
          </li>
        </ul>
      </div>
    </div>
    

    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          日本語はどのくらい話せますか
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          基本的な日本語は理解できる方が多いです<br>
          ベトナムから来られる方はＮ５～Ｎ３<br>
          日本在住の方はＮ３以上です
        </p>
      </div>
    </div>
  
    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          社会保険はどうすればよいのか？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          日本人と同じです
        </p>
      </div>
    </div>

    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          就業者の住居は？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          採用企業は社宅を所有し、利用できるようであればそちらをご利用いただきます。ない場合は、弊社で探します
        </p>
      </div>
    </div>

    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          文化の違いですが、大丈夫？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          来日前に、しっかり日本語と日本の文化を勉強してもらいますので、ご安心ください
        </p>
      </div>
    </div>
    
    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          （採用企業は）どんな書類を用意すればいいですか？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          行政書士からご案内します。
        </p>
      </div>
    </div>
    
    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          文化の違いですが、大丈夫？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          来日前に、しっかり日本語と日本の文化を勉強してもらいますので、ご安心ください
        </p>
      </div>
    </div>
    
    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          生活面のトラブルはどうする？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          弊社の窓口は24時間対応しますので、生活や仕事にトラブルがあったら、ご連絡ください
        </p>
      </div>
    </div>
    
    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          年齢層は？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          23歳から35歳の方が多いです。
        </p>
      </div>
    </div>

    <div class="question-item">
      <h4 class="accent-color">
        <strong>
          夜勤は大丈夫？
        </strong>
      </h4>
      <div class="answer-area">
        <p>
          問題ありません。夜勤は人気です。
        </p>
      </div>
    </div>
  </div>
  <%= render "/shared/contact_us"%>
</div>
