<div class="container">
	<%= render partial: "shared/page_header", locals: { title: t(".title") } %>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag "home/vietnam_polulation.png" %>
		</div>

		<div class="col-md-6">
			<%= image_tag "home/japan_population.png", class: "japan-chart-image" %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<p class="text-center">ベトナム人口（2016年）</p>
		</div>
		<div class="col-md-6">
			<p class="text-center">日本人口（2016年）</p>
		</div>
	</div>

	<div>
		<h4 class="accent-color">増えている外国人労働者</h4>
		<p>
			日本の少子高齢化は歯止めがかからず、労働者人口は減っていくばかりで、改善する気配がありません。労働者の確保は、産業界にとってはまさに死活問題ですから、
			<br/>
			「労働力として移民政策を推進するべき」という意見もあるほどです。しかし、日本は多民族国家ではありませんし、他文化共存という土壌もありません。そのため、
			<br/>
			移民に対する好意的な反応は少ないようです。
			<br/>
  		一方で、日本で就労する外国人労働者は増えています。厚生労働省が発表した「『外国人雇用状況』の届出状況表一覧（（平成28年10月末現在））」によれば、
			<br/>
			国内の外国人労働者は、東日本大震災の影響で一時的にマイナスに転じたものの、2012年以降、加速度的に増えていき、2016年10月末の時点で約108万人にも達しています。
		</p>
	</div>

	<div>
		<h4 class="accent-color">外国人労働者の受け入れには、メリットもデメリットもある</h4>
		<p>
			外国人労働者の受け入れについては、メリットとデメリットがあります。世間の論調としては、移民政策と絡むことから、デメリットが強調されてきましたが、
			<br/>
			決してマイナス面ばかりではありません。まずはプラスとマイナスの両方に目を向け、その上で「必要かどうか」「必要ならば、どのような受け入れ態勢を整えるべきか」を考えるのが人事部の役割でしょう。
			<br/>
			<br/>
			・若い労働力を補充できる
			<br/>
		   	最大のメリットがこれでしょう。少子化によって日本の若い労働力は年々価値が高まるばかりで、新卒採用は完全に売り手市場になっています。海外からの若い人材は、
			<br/>
  		　そうした穴を埋めて余りあるものがあります。
			<br/>
			<br/>
			・社内環境の活性化
			<br/>
			外国人労働者の中には、向上心の高い意欲的な人材も多く、日本人とは異なる仕事への姿勢は、組織にとって大きな刺激となります。ともすれば、
			<br/>
			マンネリ化していた社内の停滞ムードを吹き飛ばし、社員の就労意識の向上にも役立つことが期待できるでしょう。
			<br/>
			<br/>
			・グローバル化への対応が可能
			<br/>
			会社が海外への進出を考えているのなら、進出予定地域出身の人材を得ることで、大きく貢献してもらえます。市場調査から社員の渡航、
			<br/>
			現地の商習慣や習俗のレクチャーなど、多くの役割を期待できます。
			<br/>
			<br/>
			・異なる視点からの発想
			<br/>
			日本とは異なる文化が背景にあれば、日本人とはまったく違う発想やアイディアが出てくるでしょう。それは、日本人スタッフにとっても強烈な刺激
			<br/>
			となりますし、新たなものを生み出すきっかけにもなります。
			<br/>
			<br/>
			このように、外国人労働者がもたらすメリットは多々あります。外国人労働者は、あなたの会社が抱えている課題を解決する、強力な手段となるかもしれません。
			<br/>
			<br/>
		</p>
	</div>

	<div>
		<h4 class="accent-color">デメリットもしっかり検討するべき</h4>
		<p>
			さまざまなメリットがある一方で、デメリットにも目を向けなくてはいけません。海外からの労働者を迎え入れるデメリットとしては、どのようなものがあるでしょうか？
			<br/>
			<br/>
			・文化や習慣の違い
			<br/>
			異文化を背景にした視点や発想の違いは「両刃の剣」です。メリットになることもあれば、マイナスに作用することもあります。
			<br/>
			異文化に対する理解と配慮が必要になります。
			<br/>
			また、日本人同士であれば「言わずもがな」「空気を読む」という調子で意思の疎通が図れるとしても、外国人が相手ではそうはいきません。
			<br/>
			はっきり正確に伝えなければ、コミュニケーションが成り立たないケースもあります。
			<br/>
			<br/>
			・日本人求職者の就労機会を奪う
			<br/>
			マクロ視点で見れば、日本人求職者の就労機会を奪うということもいえます。ですが、人材不足が深刻化している現状では、これは仕方のないことでしょう。
		</p>
	</div>

	<div>
		<h4 class="accent-color">どんな点に注意すればいいか</h4>
		<p>
			こうしたメリット・デメリットのほか、外国人労働者を迎え入れる際には注意しておくべき点がいくつかあります。
			<br/>
			<br/>
			・異文化と民族性を理解する
			<br/>
			前項でも少し触れましたが、気質や常識は世界共通ではありません。例えば、中国人や韓国人は体面を重んじる文化があるため、
			<br/>
			「メンツが傷つく」ことをとても嫌います。
			<br/>
			<br/>
			・差別的待遇の禁止
			<br/>
			「外国人労働者＝安価な労働力」という見方は根強いようですが、国籍を理由とした賃金や労働時間等の差別は禁止されています。
			<br/>
			<br/>
			・労務管理の知識と実践が必要
			<br/>
			基本的なことですが、日本での滞在資格や就労資格があるかどうか、その職種に就く資格があるのかどうかの確認が必要です。さらに、外国人労働者を
			<br/>
			一定数以上雇用するときには、管理責任者を選定しなくてはなりません。
			<br/>
			<br/>
			このように、外国人労働者の受け入れに関しては、人事部としてやるべきことは多々ありますし、受け入れ後のケアも必要になります。
			<br/>
			つまり、「手間が増える」ことになりますが、企業にとっては「多様性への対応促進」という側面も持っています。
			<br/>
			人事部が、さまざまな個性と背景を持つ「人」を相手にするものであるならば、外国人労働者の受け入れは、まさにその本領を発揮する機会
			<br/>
			となるのではないでしょうか。
		</div>
	</div>
</div>
