<div class="container">
	<%= render partial: "shared/page_header", locals: { title: t(".title") } %>
	<div class="about-wrapper">
		<div data-aos="fade-up">
			<h5>日本における外国人エンジニア採用市場について</h5>
			<div>
				<%= image_tag "recruitment_market.png" %>
			</div>
			<br/>

			<p>近年、世界中の産業を支えているIT業界。それは日本でも例外ではありません。スマホにパソコン、社会問題になるほどですが、我々の生活にはなくてはならないものです。その目下急成長中のIT業界で人手不足が叫ばれてから久しくありません。
			<br/>
			<br/>
また、IoTやブロックチェーン、AIなどの新技術により、ますますエンジニア不足に拍車がかかっています。
			<br/>
			<br/>
そんな中、日本でも外国人をITエンジニアとして採用をする企業が増えてきています。彼らは日本ではまだまだしっかりとした技術のない分野はもちろん、様々な開発のエンジニアとして採用をされています。
			<br/>
			<br/>
特にベンチャー企業などでは、優秀なエンジニアを世界各国から採用をしたという企業が増えています。
			<br/>
			<br/>
今回はそんな外国人エンジニアの採用マーケット状況について解説します。
			<br/>
			<br/>
			<br/>
•   ますます増える外国人エンジニアの需要。背景とは？
			<br/>
•   日本で働いている外国人エンジニアの数とは？
			<br/>
•   日本で働く外国人エンジニアに必要な日本語力とは？
			<br/>
•   外国人エンジニア採用。今後の課題とは？
			<br/>
•   外国人エンジニア増加の背景
			<br/>
•   外国人エンジニアが日本で働くメリット
			<br/>
•   外国人エンジニアのメリットデメリット
			<br/>
			<br/>
			<br/>
ますます増える外国人エンジニアの需要。背景とは？
			<br/>
			<br/>
			<br/>
IT業界では業界発展とともに新しい技術が多数出てきており、日に日に変化の速度が上がっています。大規模なIT化の促進、新技術や新事業領域の拡大で非IT産業からもIT人材の求人が増えており、全産業的にIT人材が不足している状態となっています。また、少子高齢化により、そもそもの労働人口が著しく減っていく傾向にあります。そういった背景により、日本国内ではエンジニアの人材不足が深刻な問題となっており、人材不足を解決するため、外国人エンジニアを採用する企業が増えています。日本政府である経済産業省としても、深刻なIT人材不足を予測しており、この不足傾向はより加速される見込みが高いです。そのため、国内外問わず、優秀なエンジニアの獲得競争は熾烈を極めています。
			<br/>
			<br/>
「・マクロな規模でのIT人材（IT企業及びユーザ企業情報システム部門に所属する人材）は、現在の人材数は約90万人、不足数は約17万人と推計された。今後2019年をピークに人材供給は減少傾向となり、より一層不足数が拡大する。（中略）
			<br/>
・情報セキュリティ人材は、現在約28万人、不足数は約13万人であるが、2020年には不足数が20万人弱に拡大。
			<br/>
・先端ＩＴ人材は、現在約9.7万人、不足数は約1.5万人であるが、2020年には不足数が4.8万人に拡大。」
			<br/>
			<br/>
 （「IT人材の最新動向と調査（2016年）」より引用）
			<br/>
			<br/>
			<br/>
日本で働いている外国人エンジニアの数とは？
			<br/>
			<br/>
			<br/>
日本で採用されている外国人エンジニアは約28,000人です。日本のエンジニア総数は約84万人と言われているので、IT業界全体に対しては約3％と少ない比率と言えるでしょう。企業や日本の国自体もこの人数を増やしていきたいと考えているようです。今後も増加傾向は続いていき、政府としても高度人材を多数入国させ、日本で働いてほしいと考えているので、減少することはないでしょう。
			<br/>
			<br/>
経済産業省資料「IT人材を巡る現状（データ編）」（平成27年資料）より抜粋
			<br/>
			<br/>
			<br/>
日本で働く外国人エンジニアに必要な日本語力とは？
			<br/>
			<br/>
			<br/>
一般的に日本で働く場合にはどの職種でもある程度の日本語を求められる場合がほとんどです。特に通訳などの語学に関する業務はネイティブに近い日本語力が必要なことがほとんどです。では日本で働く外国人エンジニアはどれくらいの日本語力が必要なのでしょうか？
			<br/>
			<br/>
エンジニアの場合は必ずしも流暢な日本語は必要ではありません。なぜなら、プログラミング言語だけなら英語のみでのコミュニケーションを通じて意思疎通ができ、プロジェクト運用に支障がないからです。ひと昔前ですといわゆる日本語検定N2は必要であるとしていた企業が多かったのですが、人手不足の煽りも受け、N3（日常会話レベル）、企業によっては英語が話せれば大丈夫という企業も増えています。日本語力よりも開発経験を優先する傾向となってきています。
			<br/>
			<br/>
＞＞よく聞く日本語検定とは？
			<br/>
			<br/>
しかし、クライアント先への常駐や日本語しか話すことのできないクライアントとの意思疎通が必要になった場合は、コミュニケーションレベルの日本語が必要になってきます。
			<br/>
			<br/>
過度に日本語レベルを求めてしまった場合、外国人エンジニアから敬遠され、優秀なスキルを持っているにも関わらず、採用できないということになりかねないので、気を付けましょう。
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
外国人エンジニア採用。今後の課題は？
			<br/>
			<br/>
			<br/>
			<br/>
近年ますます激化する外国人エンジニアの採用競争ですが、外国人だから適当でいいやなどと考えてしまうことや、日本人と全く同じようにすればいいと考えてしまっていては、母集団形成どころか他社や他国にエンジニアを採用されてしまいます。次の点に気を付けましょう。
			<br/>
			<br/>
			<br/>
			<br/>
①新興国からの外国人にも適正な賃金を払わないと、諸外国に取られてしまう。
			<br/>
賃金については、日本人特有のIT人材＝作業者で安くていいと思いがちですが、これでは優秀な人材は集まりません。給与水準を適正なものとして、IT人材に高待遇なものとしないと人は集まってきません。また、日本語レベルで給与を決めるのではなく、開発スキルで適正に給与を決めることが大切です。
			<br/>
			<br/>
			<br/>
②日本語は難しいのでブリッジ人材を雇用することでコミュニケーションを図る
			<br/>
日本語の流暢に話せないエンジニアを採用することに躊躇する企業は多いですが、それではいつまでたっても優秀なエンジニアを採用することはできず、他社に取られてしまいます。それよりも英語でコミュニケーションの取れるブリッジ人材を採用することで外国人エンジニアとの橋渡しに担ってもらうようにするのも一つの手です。日本中心で考えていると英語や多言語でコミュニケーションのできるエンジニアから見放されてしまいます。
			<br/>
			<br/>
			<br/>
③柔軟な働き方の容認
			<br/>
近年日本でもリモートワークは増えていますが、エンジニアは特にどこでも仕事をすることができるので、出社をしないで在宅での仕事を望んだり、パラレルキャリアを望むことが多いです。優秀なエンジニアであればあるほど他社への流出リスクが高まってしまうので、柔軟な働き方を認め、日本的な終身雇用で縛らないようにしましょう。
			<br/>
			<br/>
 外国人エンジニア増加の背景
			<br/>
日本で働く外国人エンジニアの数が年々増加傾向にあるようです。その現状と、理由や背景についてご説明します。
			<br/>
			<br/>
 外国人採用数増加！年々過去最高
			<br/>
厚生労働省の調べでも、外国人労働者数がここ数年で急上昇していることが明らかになっています。
			<br/>
			<br/>
 2017年10月の発表では、外国人労働者数は約127万人（1,278,670人）となり、外国人雇用の届け出が義務付けられた2007年以来、過去最高を記録。前年2016年の108万人（1,083,769 人）と比較しても18％の増加となっています。
			<br/>
			<br/>
 その中でも外国人のエンジニア雇用の注目度が年々着実に高まっています。高度技術を持つ外国人エンジニアについての雇用制度や技能実習制度の制定が後押しになっているようです。
			<br/>
			<br/>
＞＞外国人雇用ビザの決定版！正社員雇用ならこちら！
			<br/>
			<br/>
エンジニア人材不足が日本の国際競争力低下にもつながると心配されている日本は、外国人にとって、能力やスキルを活かして仕事を得るチャンスの多い国ともいうことができます。日本の慢性的な人材不足の状況が、外国人が日本に滞在する条件の緩和や外国人の労働条件の見直しを促進する国の政策にも影響を与え、原動力にもなっています。マンパワー確保・低賃金という従来の外国人雇用環境のイメージと比較しても、外国人にとって働きやすさや安心して働く期待の持てる労働環境が整いつつあるといえるかもしれません。
			<br/>
			<br/>
外国人エンジニアを受け入れる企業側のメリットとデメリットを確認していきましょう .
			<br/>
			<br/>
外国人エンジニアを採用するメリット
			<br/>
企業側が外国人エンジニアを受け入れるメリットは何でしょうか。
			<br/>
			<br/>
人員の確保という点は言うまでもありません。特に新卒に近いような若手を採用して育成したい企業にとって、年々母体数が減っている日本人の採用活動は難しくなっています。日本人のみという国の括りを外し、世界中に採用ターゲットを広げれば、人員確保に留まらず、優秀な人材を採用できる可能性も高めることができるでしょう。
			<br/>
			<br/>
 また、将来的にもしくは現在すでに海外進出を計画している企業であれば、自社や日本をよく理解した外国人材が育ってくれれば、さらに頼りになる存在となり、海外進出の際の中核となるはずです。
			<br/>
			<br/>
 外国人エンジニアを採用するデメリット
			<br/>
一方で、外国人エンジニアを雇用するデメリットもあり、現状の課題となっているようです。特に初めて外国人を採用する企業であると、日本人と全く同じように扱ってしまい、文化の違いから労働に対する意識が大きく異なる可能性があります。個性は尊重するとしても、どうしても周りの日本人社員との整合性が取りにくいこともあるようです。
			<br/>
			<br/>
また、コミュニケーションスタイルの違いから、誤解やすれ違いが起き、業務に影響を及ぼしてしまうケースも少なくないようです。日本的な暗に伝えることや意味を推し量らなければわからない伝え方をするのではなく、きちんと外国人エンジニアに伝えることが大切です。
			<br/>
			<br/>
初めて採用をする際には、すでに外国人エンジニアを雇用している企業や、外国人雇用についてよく理解している人材紹介会社に頼むのが良いでしょう。
			<br/>
			</p>
		</div>
	</div>
</div>
