<div class="container specific_skills">
	<%= render partial: "shared/page_header", locals: { title: '特定技能について' } %>
    <div class="info">
        <p>2019年に新設される「特定技能」について、ご存知でしょうか。</p>
        <p>「特定技能」とはなにか、取得するためにはどうすればいいか、受け入れ機関（企業）は何をしなければならないかについてご説明します。</p>
    </div>

    <div class="info">
        <h3 class="accent-color">在留資格「特定技能」の種類と違い</h3>
        <p>
            特定技能には、「特定技能１号」と「特定技能２号」の２種類があります。<br>
            それぞれの特徴と合わせて、従来の在留資格「技術・人文知識・国際業務」と「技能」との違いをご紹介します。
        </p>
    </div>

    <div class="info">
        <div class="table-responsive">
            <table class="table table-bordered">
               <thead>
                   <th></th>
                   <th>特定技能１号</th>
                   <th>特定技能２号</th>
                   <th>技術・人文知識・国際業務</th>
                   <th>技能</th>
               </thead>
               <tbody>
                   <tr>
                       <td class="accent-color">特徴</td>
                       <td>相当程度の知識又は経験を要する技能を要する業務</td>
                       <td>熟練した技能を要する業務</td>
                       <td>職種に関連した専門的技術的知識をもった業務</td>
                       <td>産業上の特殊な分野に属する熟練した技能を要する業務</td>
                   </tr>

                   <tr>
                        <td class="accent-color">学歴要件</td>
                        <td>なし</td>
                        <td>なし</td>
                        <td>あり</td>
                        <td>なし</td>
                   </tr>

                    <tr> 
                        <td class="accent-color" rowspan="3">日本語水準
                            要件</td>
                        <td>● ある程度の日常会話／生活に支障がない程度の日本語能力を有すること</td> 
                        <td rowspan="3">未定</td> 
                        <td rowspan="3">通訳・翻訳業務については、日本語能力が一定レベル以上必須</td> 
                        <td rowspan="3">なし</td>
                    </tr> 
                    <tr>
                        <td>※受入れ分野ごとに業務上必要な能力水準を考慮して定める特定技能評価試験等で確認</td>
                    </tr>
                    <tr>
                        <td>（技能実習２号修了者は特定技能評価試験免除）</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="3">技能水準要件</td>
                        <td>受入れ分野で即戦力として活動するために必要な知識又は経験を有すること</td>
                        <td rowspan="3">未定</td>
                        <td>● 当該技術もしくは知識に関連する科目を専攻して大学を卒業し、又はこれと同等以上の教育を受けたこと</td>
                        <td rowspan="3">● 当該技能において１０年以上の実務経験（外国の教育機関において当該技能に関わる科目を専攻した期間を含む）を有すること</td>
                    </tr>

                    <tr>
                        <td>※所轄官庁が定める試験によってそのレベルを確認</td>
                        <td>● 当該技術又は知識に関連する科目を専攻して本邦の専修学校の専門課程を修了したこと（当該修了に関し法務大臣が告示をもって定める要件に該当する場合に限る）</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>● 十年以上の実務経験（大学、高等専門学校、高等学校、中等教育学校の後期課程又は専修学校の専門課程において当該技術又は知識に係る科目を専攻した期間を含む）を有すること</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="3">在留期間</td>
                        <td>最長5年</td>
                        <td>制限なし</td>
                        <td>制限なし</td>
                        <td>制限なし</td>
                    </tr>
                    <tr>
                        <td>（更新不可）</td>
                        <td>（更新可能）</td>
                        <td>（更新可能）</td>
                        <td>（更新可能）</td>
                    </tr>
                    <tr>
                        <td>※1回当たりの在留期間は、1年、6か月又は4か月</td>
                        <td>※1回当たりの在留期間は、3年、1年又は6か月</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="accent-color">単純労働</td>
                        <td>できる</td>
                        <td>できる</td>
                        <td>できない</td>
                        <td>できない</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="2">永住</td>
                        <td rowspan="2">できない</td>
                        <td>できる</td>
                        <td rowspan="2">できる</td>
                        <td rowspan="2">できる</td>
                    </tr>
                    <tr>
                        <td>※１号での就労期間は永住申請に必要な10年に含まれない</td>
                    </tr>

                    <tr>
                        <td class="accent-color">単純労働</td>
                        <td>できる</td>
                        <td>できる</td>
                        <td>できない</td>
                        <td>できない</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="15">検討対象
                            業種</td>
                        <th>14業種</th>
                        <th>5業種</th>
                        <td>業種指定なし（職務内容で判断）</td>
                        <td>○ 調理師</td>
                    </tr>

                    <tr>
                        <td>○ 介護</td>
                        <td>○ 建設業</td>
                        <td></td>
                        <td>○ 建築技術者</td>
                    </tr>

                    <tr>
                        <td>○ ビルクリーニング</td>
                        <td>○ 造船舶用工業</td>
                        <td>○ 機械工学等の技術者</td>
                        <td>○ 外国特有製品の製造・修理</td>
                    </tr>

                    <tr>
                        <td>○ 農業</td>
                        <td>○ 自動車整備業</td>
                        <td>○ 通訳</td>
                        <td>○ 宝石・貴金属・毛皮加工</td>
                    </tr>

                    <tr>
                        <td>○ 漁業</td>
                        <td>○ 航空業</td>
                        <td>○ デザイナー</td>
                        <td>○ 動物の調教</td>
                    </tr>

                    <tr>
                        <td>○ 飲食料品製造業（水産加工業含む）</td>
                        <td>○ 宿泊業</td>
                        <td>○ 私企業の語学教師</td>
                        <td>○ 石油・地熱等掘削調査</td>
                    </tr>

                    <tr>
                        <td>○ 外食業</td>
                        <td>※制度開始後数年間は受入れなし</td>
                        <td>○ マーケティング業務従事者等</td>
                        <td>○ 航空機操縦士</td>
                    </tr>

                    <tr>
                        <td>○ 素形材産業（鋳造など）</td>
                        <td></td>
                        <td></td>
                        <td>○ スポーツ指導者</td>
                    </tr>

                    <tr>
                        <td>○ 産業機械製造業</td>
                        <td></td>
                        <td></td>
                        <td>○ ワイン鑑定等</td>
                    </tr>

                    <tr>
                        <td>○ 電気・電子情報関連産業</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>○ 建設業</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>○ 造船・舶用工業</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>○ 自動車整備業</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>○ 航空業（空港グランドハンドリング・航空機整備）</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>○ 宿泊業</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="4">他資格からの
                            移行</td>
                        <td>● 技能実習を修了すること</td>
                        <td>● 「特定技能１号」から所轄省庁が定める一定の試験に合格すること</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>● 「特定技能評価試験」に合格すること</td>
                        <td>※制度開始後数年間は受入れなし</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>※技能実習2号修了（３年以上の実務経験）者は日本語能力試験不要</td>
                        <td>※建設業と造船・舶用工業の2業種が2021年度から試験を始める予定</td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>※一旦帰国の必要あり</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="4">転職</td>
                        <td>できる</td>
                        <td>できる</td>
                        <td rowspan="4">できない</td>
                        <td rowspan="4">できない</td>
                    </tr>

                    <tr>
                        <td>※基本的に同じ職種（入国・在留を認めた分野）への転職のみ</td>
                        <td>※基本的に同じ職種（入国・在留を認めた分野）への転職のみ</td>
                    </tr>
                    <tr>
                        <td>※入官への届け出や手続きが必要</td>
                        <td>※入官への届け出や手続きが必要</td>
                    </tr>
                    <tr>
                        <td>※退職から3ヶ月を超しても特定技能に該当する活動を行っていない場合は、在留資格の取消手続の対象となる可能性あり（正当な理由がある場合を除く）</td>
                        <td>※退職から3ヶ月を超しても特定技能に該当する活動を行っていない場合は、在留資格の取消手続の対象となる可能性あり（正当な理由がある場合を除く）</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="3">取り消し</td>
                        <td>ありうる</td>
                        <td>ありうる</td>
                        <td>ありうる</td>
                        <td>ありうる</td>
                    </tr>
                    <tr>
                        <td>※刑罰を受けるような罪を犯した場合や嘘の更新申請をした場合</td>
                        <td>※刑罰を受けるような罪を犯した場合や嘘の更新申請をした場合</td>
                        <td>※上陸拒否事由に該当していることを偽った場合や、活動内容を偽った場合等</td>
                        <td>※上陸拒否事由に該当していることを偽った場合や、活動内容を偽った場合等</td>
                    </tr>

                    <tr>
                        <td>※社会保険料を滞納している場合</td>
                        <td>※社会保険料を滞納している場合</td>
                        <td></td>
                        <td></td>
                    </tr>
               </tbody>
            </table>
          </div>
    </div> 
    <div class="info">
        <h3 class="accent-color">
            「特定技能」と「技能実習」の違い
        </h3>
        <p>
            在留資格のひとつである、「技能実習」と似ているものと思われている人も多いと思いますが、まったく別物です。
        </p>
        <p>技能実習制度は、日本の技術を開発途上地域へ移転して経済発展してもらうことが目的の制度です。労働力の需給の調整の手段として行われてはなりません。</p>
        <p>一方、特定技能は、外国人労働者としての在留資格です。日本国内で人材不足が深刻な業種の、労働力を確保するための在留資格ですので、宿泊業や外食業のように特定技能の対象となる業種であれば、食堂の配膳などの単純労働をおこなうことができます。</p>
    </div>

    <div class="info">
        <h3 class="accent-color">
            特定技能評価試験について
        </h3>
        <p>技能実習を修了していない場合でも、特定技能評価試験に合格することで特定技能の在留資格の申請ができるようにすることを検討されています。</p>
        <p>技能水準及び日本語試験は原則として日本国外で実施し、当面はベトナム、フィリピン、カンボジア、中国、インドネシア、タイ、ミャンマー、ネパール、モンゴルの9カ国で実施されます。</p>
        <p>日本語テストは、受験者に結果を迅速に伝えるため、パソコンの使用が検討されています。</p>
        <p>【特定技能評価試験の開始予定時期】</p>
        <ul class="list-inline">
            <li>2019年４月　宿泊業、介護業、外食業</li>
            <li>2019年10月　飲食料品製造業</li>
            <li>2019年秋以降　ビルクリーニング業</li>
            <li>2020年3月まで　残りの９業種</li>
        </ul>
        <p>※14業種共通の日本語能力判定テストは2019年から始まる予定です。</p>
    </div>

    <div class="info">
        <h3 class="accent-color">
            「特定技能１号」から在留資格「介護」への移行
        </h3>
        <p>
            介護の分野で特定技能１号として、仕事を３年以上続けた後に、介護福祉士の資格を取れば、既存の在留資格「介護」に移行できます。<br>
            ※国家資格「介護福祉士」を取得後、入管への在留資格変更許可申請も必要
        </p>
        <strong>在留資格「特定技能」申請に必要な添付資料</strong>
        <p>在留資格「特定技能１号」、「特定技能２号」の申請に必要な添付資料は次のとおりです。</p>
    </div>

    <div class="info">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th style="min-width: 120px"></th>
                    <th>特定技能１号</th>
                    <th>特定技能２号</th>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="6" class="accent-color">申請に必要な添付資料</td>
                        <td>● 特定技能所属機関の概要を明らかにする資料</td>
                        <td>● 特定技能２号の活動を行うことのできる技能水準に達していることを証する資料</td>
                    </tr>
                    <tr>
                        <td>● 活動の内容，期間，地位及び報酬を証する文書</td>
                        <td>● 特定技能所属機関の概要を明らかにする資料</td>
                    </tr>
                    <tr>
                        <td>● 特定技能所属機関による申請人に対する支援に係る文書</td>
                        <td>● 活動の内容，期間，地位及び報酬を証する文書</td>
                    </tr>
                    <tr>
                        <td>● 日本語能力を証する資料</td>
                        <td>● 特定技能雇用契約の締結に関し仲介した者がある場合は，当該仲介の概要</td>
                    </tr>
                    <tr>
                        <td>● 従事する業務に関して有する技能を証する資料</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>● 特定技能雇用契約の締結に関し仲介した者がある場合は，当該仲介の概要</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="4">更新申請に必要な添付資料</td>
                        <td>● 活動の内容，期間及び地位を証する文書</td>
                        <td>● 活動の内容，期間及び地位を証する文書</td>
                    </tr>

                    <tr>
                        <td>● 年間の収入及び納税額に関する証明書</td>
                        <td>● 年間の収入及び納税額に関する証明書</td>
                    </tr>
                    <tr>
                        <td>● 申請人に対する支援の状況を証する文書</td>
                        <td>● 社会保険の加入状況並びに国民健康保険及び国民年金の保険料の納付状況を証する文書</td>
                    </tr>

                    <tr>
                        <td>● 社会保険の加入状況並びに国民健康保険及び国民年金の保険料の納付状況を証する文書</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>

    <div class="info">
        <h3 class="accent-color">「特定技能２号」の永住申請</h3>
        <p>特定技能２号には在留期間の上限が設定されていませんので、永住権許可要件を満たす場合は永住申請をすることができます。</p>
        <strong>永住権許可要件</strong>

        <ul class="list-inline">
            <li>（１）素行が善良であること
                <p class="ml20">法律を遵守し日常生活においても住民として社会的に非難されることのない生活を営んでいること。</p>
            </li>
            <li>
                （２）独立の生計を営むに足りる資産又は技能を有すること
                <p class="ml20">日常生活において公共の負担にならず，その有する資産又は技能等から見て将来において安定した生活が見込まれること。</p>
            </li>
            <li>
                （３）その者の永住が日本国の利益に合すると認められること
                <ul class="list-inline ml20">
                    <li>ア　原則として引き続き１０年以上本邦に在留していること。ただし，この期間のうち，就労資格又は居住資格をもって引き続き５年以上在留していることを要する。</li>
                    <li>イ　罰金刑や懲役刑などを受けていないこと。納税義務等公的義務を履行していること。</li>
                    <li>ウ　現に有している在留資格について，出入国管理及び難民認定法施行規則別表第２に規定されている最長の在留期間をもって在留していること。</li>
                    <li>エ　公衆衛生上の観点から有害となるおそれがないこと。</li>
                </ul>
            </li>
        </ul>

        <p>※特定技能1号で就労していた期間は「5年間の就労」という永住要件として認めないということが検討されています。</p>
        <strong>特定技能で受け入れる国の制約</strong>

        <p>以下の基準により、出入国管理業務上の支障があると判断した国に対しては、受け入れの制約したり在留資格付与を厳重に審査するなどを検討されています。</p>

        <ul class="list-inline">
            <li>● 日本から強制退去となった外国人の送還をこばむ国からは労働者を受け入れない。</li>
            <li>● 不法就労目的の難民認定申請や不法滞在者が多い国も審査を厳格にする。</li>
        </ul>

        <p>※退去強制とは不法滞在や刑事事件で有罪が確定するなどの理由で在留資格を取消されて日本国外への退去を命じられること</p>

        <strong>関連機関（特定技能所属機関、登録支援機関）について</strong>
        <p>「特定技能」を受け入れる機関には、特定技能所属機関（受け入れ機関）と登録支援機関という２つの機関があります。</p>
    </div>

    <div class="info">
        <h3 class="accent-color">
            特定技能所属機関（受け入れ機関）とは
        </h3>
        <p>特定技能所属機関とは在留資格「特定技能」をもった外国人材を労働者として受入れ、雇用する企業・法人のことです。</p>
        <p>外国人が所属する機関は一つに限られ、数の特定技能所属機関との雇用に関する契約は認められません。</p>
        <p>特定技能所属機関になるための基準や、外国人就労者への報酬、待遇面についてご紹介します。</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <th>対象</th>
                    <td>企業・法人</td>
                </thead>
                <tbody>
                    <tr>
                        <td class="accent-color" rowspan="3">基準</td>
                        <td>● 外国人と締結する契約は、報酬額が日本人と同等以上であることなどを確保するため、所要の基準に適合することが必要</td>
                    </tr>
                    <tr>
                        <td>● 適格性に関する基準（労働関係法令・社会保険関係法令の遵守・欠格事由に該当しないこと等）</td>
                    </tr>
                    <tr>
                        <td>● 支援体制に関する基準（支援計画に基づき、適正な支援を行える能力・体制があること等）※特定技能１号外国人材の場合に限る</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="4">雇用形態</td>
                        <td>● 活動の内容，期間及び地位を証する文書</td>
                    </tr>
                    <tr>
                        <td>● 年間の収入及び納税額に関する証明書</td>
                    </tr>
                    <tr>
                        <td>● 申請人に対する支援の状況を証する文書</td>
                    </tr>
                    <tr>
                        <td>● 社会保険の加入状況並びに国民健康保険及び国民年金の保険料の納付状況を証する文書</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="2">就労者への報酬</td>
                        <td>「技術・人文知識・国際業務」の在留資格同様、日本人と同等以上にすること</td>
                    </tr>
                    <tr>
                        <td>※預貯金口座への振込等支払額が確認できる方法で支払う</td>
                    </tr>
                    <tr>
                        <td class="accent-color">就労者の待遇</td>
                        <td>社会保険や雇用保険の加入、労災保険の適用など雇用や労働に関するすべての法令遵守</td>
                    </tr>

                    <tr>
                        <td class="accent-color" rowspan="9">特定技能１号への支援計画</td>
                        <td>（１）入国前の生活ガイダンスの提供</td>
                    </tr>
                    <tr>
                        <td>（２）外国人の住宅の確保</td>
                    </tr>
                    <tr>
                        <td>（３）在留中の生活オリエンテーションの実施</td>
                    </tr>
                    <tr>
                        <td>（４）生活のための日本語習得の支援</td>
                    </tr>
                    <tr>
                        <td>（５）外国人からの相談・苦情への対応</td>
                    </tr>
                    <tr>
                        <td>（６）各種行政手続についての情報提供</td>
                    </tr>
                    <tr>
                        <td>（７）非自発的離職時の転職支援</td>
                    </tr>
                    <tr>
                        <td>（８）その他</td>
                    </tr>
                    <tr>
                        <td>※登録支援機関に委託可</td>
                    </tr>

                    <tr>
                        <td rowspan="2" class="accent-color">備考</td>
                        <td>● 日本語教育や研修などの費用負担</td>
                    </tr>
                    <tr>
                        <td>● 外国人の帰国費用負担</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="info">
        <h3 class="accent-color">
            登録支援機関とは
        </h3>
        <p>
            登録支援機関とは受入れ企業に代わって支援計画の作成・実施を行う機関のことです。受け入れ機関と連携して、「特定技能1号」の外国人に対しての支援を行います。<br>
            受け入れ機関と連携して、「特定技能1号」の外国人に対しての支援を行います。<br>
            外国人就労者を我が国に定着し、円滑に社会生活を行うための支援が登録支援機関の役割です。<br>
            悪質な仲介業者の排除にも積極的に関わる見通しです。
        </p>

        <div class="table-responsive">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td class="accent-color">
                            想定される機関
                        </td>
                        <td>社労士、行政書士、業界団体、民間企業など</td>
                    </tr>
                    <tr>
                        <td class="accent-color" rowspan="2">
                            基準
                        </td>
                        <td>● 適格性に関する基準（欠格事由に該当しないこと等）</td>
                    </tr>
                    <tr>
                        <td>● 支援体制に関する基準（支援計画に基づき、適正な支援を行える能力・体制があること等）</td>
                    </tr>
                    <tr>
                        <td class="accent-color" rowspan="2">必要要件</td>
                        <td>出入国在留管理庁長官に登録が必要</td>
                    </tr>
                    <tr>
                        <td>※五年ごとに更新が必要</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="info">
        <h3 class="accent-color">
            J‐VCONNECTIONにお任せください
        </h3>
        <p>株式会社J-VCONNECTIONでは、登録支援機関として、受け入れ機関のサポートや、「特定技能１号」を持っている外国人就労者への支援代行をおこなう予定です。</p>
        <p>そのほか、お気軽にご相談ください。</p>
    </div>
</div>
