<div class="row">
    <article class="clearfix gf-banner col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="gf-heading">
            <h4 class="heading-title">
                特定技能
            </h4>
        </div>
        <div class="gf-banner-inner clearfix">
            <div class="entry-thumb-wrap">
                <div class="entry-thumbnail">
                    <a href="#" class="entry-thumbnail-overlay">
                        <img src="https://picsum.photos/300/200?image=244" />
                    </a>
                </div>
            </div>
        </div>
    </article>
    <article class="clearfix gf-banner col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="gf-heading">
            <h4 class="heading-title">
                技術・人文知識・国際業業務
            </h4>
        </div>
        <div class="gf-banner-inner clearfix">
            <div class="entry-thumb-wrap">
                <div class="entry-thumbnail">
                    <a href="#" class="entry-thumbnail-overlay">
                        <img src="https://picsum.photos/300/200?image=1024" />
                    </a>
                </div>
            </div>
        </div>
    </article>
    <article class="clearfix gf-banner col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="gf-heading">
            <h4 class="heading-title">
                実習生
            </h4>
        </div>
        <div class="gf-banner-inner clearfix">
            <div class="entry-thumb-wrap">
                <div class="entry-thumbnail">
                    <a href="#" class="entry-thumbnail-overlay">
                        <img src="https://picsum.photos/300/200?image=611" />
                    </a>
                </div>
            </div>
        </div>
    </article>
    <article class="clearfix gf-banner col-xl-3 col-lg-6 col-md-6 col-sm-6 col-12">
        <div class="gf-heading">
            <h4 class="heading-title">
                留学
            </h4>
        </div>
        <div class="gf-banner-inner clearfix">
            <div class="entry-thumb-wrap">
                <div class="entry-thumbnail">
                    <a href="#" class="entry-thumbnail-overlay">
                        <img src="https://picsum.photos/300/200?image=244" />
                    </a>
                </div>
            </div>
        </div>
    </article>
</div>