<div class="contact-us">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9">
        <p class="text-content">
          <strong>
          □　人材が集まらない
          <br/>
          □　採用してもすぐに辞めてしまう
          <br/>
          □　外国人を採用したいが、どうしたらいいのか分からない
          <br/>
          <br/>
          このようなお悩みをお持ちの事業者様に、私たちは日本語が話せるベトナム系のエンジニア等をご紹介しております。人材の選定・紹介から就労ビザの取得、採用手続き、採用後のサーポートまで
          経験豊富なJ-V CONNECTIONにお任せてください
          <strong>
          <h2 class="text-content"><i class="fa fa-phone"></i> 078-595-9099 お気軽にお問い合わせください。</h2>
        </p>
      </div>
    </div>
  </div>
</div>
