<div class="container">
    <div class="gf-heading">
        <span class="heading-sub-title">
                お気軽にお問
        </span>
        <h2 class="heading-title">
            お気軽にお問い合わせください
        </h2>
    </div>
</div>