<div class="row">
  <div class="mt-5">
    <div class="card">
      <div class="card-body">
        <%= link_to new_admins_slider_image_path, class: "btn btn-outline-primary" do %>
          <span class="fa fa-plus-circle"></span>
          <%= t ".create" %>
        <% end %>
        <br><br>
        <ul class="row list-unstyled">
          <%= render partial: "slider_image", locals: {slider_images: @slider_images} %>
        </ul>
        <div>
          <%= paginate @slider_images %>
        </div>
      </div>
    </div>
  </div>
</div>
