<div class="row">
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        

        <%= render "slider_image_form", slider_image: @slider_image %>
      </div>
    </div>
  </div>
</div>
