<div class="row">
  <div class="col-12 mt-5">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title"><%= t ".title" %></h4>

        <%= render "post_form", post: @post %>
      </div>
    </div>
  </div>
</div>
