<div class="main-content-inner">
  <div class="row">
      <div class="mt-5">
        <div class="card">
          <div class="card-body">
            <ul class="row list-unstyled">
              <%= render partial: "post", locals: {posts: @posts} %>
            </ul>
            <div>
              <%= paginate @posts %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
