<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Có ứng viên đăng ký nhận tư vấn!
    <br/>
    Truy cập https://j-vconnection.com/admins/candidates để biết thêm thông tin
  </body>
</html>
