<div class="recent-post">
     <div class="gf-post-image">
         <a href="#" class="entry-thumbnail-overlay">
             <%= image_tag("post-1.jpg", :alt => "homepage") %>
         </a>
     </div>
     <div class="gf-post-content">
         <h5 class="gf-post-title">
             <a href="">
                 <%= title %>
             </a>
         </h5>
         <span class="gf-meta-date"><%= date %></span>
     </div>
 </div> 
 