<%= render partial: "shared/page_header", locals: { title: 'Blogs' } %>
<div class="container clearfix mt50">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="blog-grid">
                <%= render partial: "shared/post", locals: {posts: @posts} %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <%= paginate @posts %>
        </div>
    </div>
</div>
