.gf-page-heading {
  background-image: image-url("page-title-2.jpg");
  background-size: cover;
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
  background-position: 50% -40px;

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
  }

  .container {
    position: relative;
  }
  
  .page-title {
    color: $white;
    margin-bottom: 0;
    font-size: 30px;
    position: absolute;
    z-index: 3;
    transform: translateY(-50%);
  }
}

// Contact Page

.contact-info {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  padding: 50px 0;

  .info-content {
    padding: 0 15px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .left {
    font-size: 45px;
    color: #7fa15a;
  }

  .right {
    margin-left: 20px;

    h6 {
      color: #7fa15a;
      font-size: 17px;
    }

    p {
      color: #959595;
    }
  }
}


// Back to Top
.back-to-top {
  position: fixed;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  bottom: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  z-index: 2;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #fff;
  background-color: $theme-color;

  &.in {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


//Pagination

.pagination {
  justify-content: center;

  .page-item {

    .page-link {
      border-radius: 0;
      color: $theme-color;
      padding: 0.7rem 1rem;

      &:focus {
        box-shadow: none;
      }
    }

    &.active {
      .page-link {
        background-color: $theme-color;
        border-color: $theme-color;
        color: $white;
      }
    }
  }
}


//Shared Button

.social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.social-share-button .ssb-twitter {
  background-image: image-url("social-share-button/twitter.svg");

}

.social-share-button .ssb-facebook {
  background-image: image-url("social-share-button/facebook.svg");
}

.social-share-button .ssb-google_bookmark {
  background-image: image-url("social-share-button/google_bookmark.svg");
}

.social-share-button .ssb-google_plus {
  background-image: image-url("social-share-button/google_plus.svg");
}

.social-share-button .ssb-linkedin {
  background-image: image-url("social-share-button/linkedin.svg");
}

.social-share-button .ssb-tumblr {
  background-image: image-url("social-share-button/tumblr.svg");
}

.social-share-button .ssb-pinterest {
  background-image: image-url("social-share-button/pinterest.svg");
}

.social-share-button .ssb-email {
  background-image: image-url("social-share-button/email.svg");
}

.social-share-button .ssb-reddit {
  background-image: image-url("social-share-button/reddit.svg");
}

.social-share-button .ssb-hacker_news {
  background-image: image-url("social-share-button/hacker_news.svg");
}

.social-share-button .ssb-telegram {
  background-image: image-url("social-share-button/telegram.svg");
}

.social-share-button .ssb-whatsapp_app,
.social-share-button .ssb-whatsapp_web {
  background-image: image-url("social-share-button/whatsapp.svg");
}


// About us Page
.info-wrapper {
  display: flex;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 15px;
  margin-bottom: 30px;
  align-items: center;

  >* {
    margin-bottom: 0;
  }

  label,
  h5 {
    font-size: 17px;
  }

  label {
    margin-right: 10px;
    color: $theme-color;
  }

  &.multiple {
    align-items: unset;

    ul {
      font-size: 18px;
      list-style: none;
    }

    li i {
      color: $theme-color;
    }
  }
}

.about-wrapper {
  .info-title {
    padding: 30px 0;

    h2 {
      text-align: center;

      &:after {
        content: "";
        height: 2px;
        background-color: $theme-color;
        width: 100%;
        display: block;
      }
    }
  }

  .info-image {
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;

    .bg-image {
      padding-bottom: 30%;
      width: 50%;
      background-image: image-url("sakura.jpg");
      background-size: cover;
    }

    .content {
      padding: 0 30px;
      width: 50%;
      font-size: 20px;
    }
  }
}

.th-table-bussiness-content {
  width: 200px;
}

.lbl-about-us {
  width: 150px;
}

//Post Comments

.gf-comment-inner {
  .comment-avatar {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      margin-right: 15px;
    }

    .meta-date {
      font-style: italic;
    }
  }

  .gf-comment-content {
    margin-top: 10px;
    padding-left: 65px;
  }
}

.comment-wrapper {
  padding: 0 15px;
  margin-top: 30px;

  .comment-item {
      padding-bottom: 10px;

     + .comment-item {
      border-top: 1px solid #f8f8f8;
      padding-top: 10px;
    }
  }

  .pagination {
    margin-top: 30px;
    justify-content: flex-start;
  }
}


.table th, .table td {
  vertical-align: middle;
}

.specific_skills {
  .table {
    thead {
      th:first-child {
        min-width: 100px;
      }
    }

    tbody {
      .accent-color {
        background: #f8f8f8;
      }
    }
  }

  .lbl-job-list {
    font-size: 18px;
  }
}
.image-job-bg {
  background-size: cover;
  height: 300px;
  background-image: image-url("engineer.jpg");
}


// Job Lists Home

.gf-jobs {
  padding-top: 50px;
  padding-bottom: 70px;
}

.job-lists {
  .job-header,
  .job-item {
    display: flex;
    border-left: 1px solid $theme-color;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 30px 30px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .job-detail {
    h4 {
      margin-bottom: 10px;

      a {
        color: #333;
        transition: all .3s;

        &:hover {
          color: $theme-color;
        }
      }
    }

    p {
      color: $theme-color;
    }
  }
}

.gf-job-meta {
  padding: 30px;
  overflow: hidden;
  background: #f8f8f8;

  p {
    margin: 1.3rem 0;
    font-weight: bold;
    font-size: 15px;
    

    i {
      color: $theme-color;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  div {
    padding-bottom: 20px;
    border-bottom: 1px solid $theme-color;
  }

  .social-share-wrapper {
    margin: 0;
    padding: 0;
    border: none;
  }

  .social-share-button {
    border: none;
    display: flex;
    justify-content: space-evenly;
  }
}

.alignright {
  margin: 5px 0 15px 15px;
  float: right;
  height: auto;
  width: 400px;
}

.banner-info {
  margin-top: 50px;
  background-color: $theme-color;
  color: $white;
  padding: 30px;

  h3 {
    i, span {
      color: $white;
      font-size: 18px;
    }
  }
}


.sticky-menu {
  background-color: $theme-color;
  padding: 20px 15px;
  margin-top: 40px;
  transition: all .3s;
  z-index: 999 !important;

  li + li {
    margin-top: 20px;
  }

  li > a {
    color: $white;
    font-size: 16px;
    transition: all .3s;

    i {
      margin-right: 10px;
      position: relative;
      transition: all .3s;
      left: 0;
    }

    &:hover {
      i {
        left: 5px;;
      }
    }
  }

}

.is-sticky .sticky-menu {
  margin-top: 0;
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid $theme-color;
  margin: 1.5em 10px;
  padding: 1.5em 10px;
}

blockquote p {
  display: inline;
}

.content-left,
.content-right {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid $theme-color;

  p {
    margin-bottom: 0;
    font-size: 20px;
  }

  span {
    font-size: 18px;
  }
}

.info-icon {
  flex-flow: row wrap;
  justify-content: space-around;

  .content {
    img {
      width: 100px;
    }

    p {
      line-height: 38px;
    }

    font-size: 18px;
    text-align: center;
    font-weight: 500;
  }
}


.gf-job-detail {
  .job-title {
    background-image: image-url("bg-page-title.jpg");
    padding: 56px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-bottom: 2px solid #eee;
    margin-top: 20px;

    h3 {
      font-size: 35px;
    }
  }

  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #7fa15a;
  }


  .form-group,
  .new-comment-form h3 {
    padding-left: 0;
    margin-left: 0;
  }

  .button {
    margin: 0;
  }
}

.content-box {
  background: #f8f8f8;
  padding: 30px;

  h3 {
    color: $theme-color;

    &:after {
      content: "";
      height: 2px;
      width: 15%;
      display: block;
      background: $theme-color;
    }
  }
}
