.japan-chart-image {
  height: 350px;
}

.mobile-phone {
  font-size: 20px;
}

.contact-us {

  margin-top: 50px;
  div.row {
    background-color: $theme-color;
  }

  .text-content {
    color: #fff;
    margin-top: 30px;
  }
}

.inner-content {
  margin-bottom: 0px;
}

.max-lenght-content {
  max-width: 300px;
}

.slider-image {
  height: 400px;
}

#image-preview {
  display: none;

  &.show {
    display: initial;
  }
}

.action-wrapper {
  align-items: center;
  .btn {
    max-height: 43px;
    margin-left: 15px;
  }

  .btn-block + .btn-block {
    margin-top: 0;
  }
}

.admin-post-content {
  min-width: 400px;
}

.no-wrap {
  white-space: nowrap;
}

.management-title {
  color: white;
}

.answer-area {
  padding-left: 20px;
}
