.japan-chart-image {
  height: 350px;
}

.mobile-phone {
  font-size: 27px;
}

.contact-us {

  margin-top: 50px;
  div.row {
    background-color: $theme-color;
  }

  .text-content {
    color: #fff;
    margin-top: 30px;
  }
}
