header {

    &.sticky {
        .navbar  {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 9999;
        }
    }

    nav.navbar-dark  {
        padding: 0;
        background-color: $theme-color;

        .navbar-toggler {
            color: #fff;
            border-color: transparent;

            &:focus {
                outline: none;
            }
        }
        .navbar-nav {
            display: flex;
            flex-flow: row;
            align-items: center;
        }

        .navbar-nav .nav-link  {
            color: #fff;
            padding: 20px;
        }

        .navbar-nav {
            justify-content: space-between;
             width: 100%;
        }

        .nav-item {

            position: relative;
            .sub-menu {
                transition: all .5s ease-out;
                overflow: hidden;
                background: #fff;
                position: absolute;
                z-index: 9999;
                animation-name: fadeOutDown;
                animation-duration: .5s;
                font-size: 15px;
                border-bottom: 2px solid $theme-color;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.15);

                .dropdown-item {
                    white-space: nowrap;
                    padding-left: 20px;
                    padding-right: 20px;
                    transition: all .3s;
                }
            }

            .sub-menu:not(.language) {
                min-width: 210px;
                text-align: center;

                .dropdown-item {
                    line-height: 38px;

                    &:hover {
                        margin-left: 5px;
                        color: $theme-color;
                    }
                }
            }

            &:hover {
                .sub-menu {
                    animation-name: fadeInUp;
                    transition: all .5s ease-in;
                    visibility: visible;
                    animation-duration: .5s;
                    opacity: 1;
                    animation-fill-mode: both;
                }
            }

            &:last-child {
                font-size: 15px;
            }
        }
    }


}

.topbar-wrapper {
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 20px;

    .information {
        display: flex;
        align-items: center;

        .information-title {
            color: $theme-color;
            display: block;
        }
        a {
           display: flex;
           justify-content: flex-end;
           margin-right: 10px;

           i {
                position: relative;
                top: 3px;
                margin-right: 5px;
           }
        }
    }

    .logo {
        img {
            height: 100px;
        }
    }
}

.gf-heading {
    text-align: center;
    padding: 20px 0;

    .heading-sub-title {
        color: $theme-color;
    }
}
