.gf-post-inner {
    .gf-post-excerpt {
        height: 2.5rem;
        overflow: hidden;
    }

    .gf-post-meta {
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .meta-date {
        a {
            color: #9b9b9b;
        }
    }
    .gf-post-title {
        margin-bottom: 10px;
    }

    .entry-thumbnail {
        position: relative;

        .entry-thumbnail-overlay:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-opacity: 0;
            -moz-opacity: 0;
            opacity: 0;
            background-color: rgba(0,0,0,0.3);
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
        }

        &:hover .entry-thumbnail-overlay:after {
            -webkit-opacity: 1;
            -moz-opacity: 1;
            opacity: 1;
        }
    }
}

.contract-wrapper {
    padding-top: 50px;
}

.gf-banner {
    margin-top: 50px;

    .heading-title {
        margin-bottom: 0;
    }
}

.gf-banner-inner {  
    position: relative;
}

.gf-banner-inner .entry-thumbnail-overlay::before {
    opacity: 0;
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}

.gf-banner-inner .entry-thumbnail-overlay:hover::before {
    opacity: 1;
	-webkit-animation: shine .75s;
	animation: shine .75s;
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}

@keyframes shine {
	100% {
		left: 125%;
	}
}

.gf-message-wrapper {
    .gf-sign-content {
        .gf-sign {
            &:before {
                content: "";
                width: 1px;
                height: 40%;
                top: 30px;
                position: absolute;
                right: 0;
                background: #959595;
            }
        }
        img {
            float: right;
        }

        .gf-heading {
            text-align: left;

            .heading-title {
                font-size: 20px;
                font-weight: 400;
                margin-top: 20px;
            }
        }
    }
}

.gf-messages {
    margin-top: 80px;   
    padding: 50px 0;
    background: {
        image: asset_url("img-bg.jpg");
     }
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .heading-title {
        margin-bottom: 0;
    }
}

.back-to-top {
    position: fixed;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    -ms-backface-visibility: visible;
    backface-visibility: visible;
    bottom: 10px;
    right: 10px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    z-index: 2;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #fff;
    background-color: $theme-color;

    &.in {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

.recent-posts-widget {

    padding-bottom: 30px;

    .recent-post {
       display: flex;
       align-items: center;
       padding: 10px 0;

        + .recent-post {
           border-top: 1px dashed #ebebeb;

        }
   }

    .gf-post-content {
       padding-left: 10px;
   }

    .gf-post-title {
       color: #444;
       margin-bottom: 10px;
   }

    .gf-meta-date {
       color: #ababab;
   }
}

.widget-title {
   font-size: 24px;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: 1.3;
   letter-spacing: normal;
   color: #444;
   padding-bottom: 14px;
   border-bottom: 1px solid #f8f8f8;
   margin: 0 0 10px;
}

.search-form {
   position: relative;

    .search-submit {
       position: absolute;
       width: 40px;
       height: 48px;
       top: 0;
       right: 0;
       background: 0 0;
       border: none;
       font-size: 16px;
       cursor: pointer;
   } 
}

.share-list {
   display: flex;

    li {
       padding: 10px 0;
       overflow: hidden;

        + li {
           margin-left: 5px;
       }
   }

    a {
       padding: 14px 20px;
       color: $white;
       font-size: 14px;
       line-height: 20px;
       transition: all 0.3s;

        i {
           margin-right: 5px;
           font-size: 18px;
           line-height: 20px;
       }

        &:hover {
           background: linear-gradient(to bottom,rgba(0,0,0,.3) 0,rgba(0,0,0,.3) 100%);
           border: none;
       }
   }

    .facebook {
       background-color: #3a579a  !important;
   }

    .google {
       background-color: #dd4b39 !important;
   }

    .twitter {
       background-color: #00abf0!important;
   }

    .pinterest {
       background-color: #cd1c1f!important;
   }
}


// Grid Blogs

.blog-grid {
   display: flex;
   -webkit-flex-flow: row wrap;
   -moz-flex-flow: row wrap;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
   flex-grow: 1;

    .post-grid {
       + .post-grid {
           margin-bottom: 40px;
       }
   }
}

// Post Detail

.gf-post-meta {
   display: flex;
   font-size: 16px;

    li {
       color: #ababab;

        + li {
           margin-left: 10px;
           &:before {
               content: "";
               left: -6px;
               top: 2px;
               position: relative;
               height: 16px;
               width: 2px;
               background: $theme-color;
               display: inline-block;
           }
       }
   }
}

.comment-form {
   display: flex;
   -webkit-flex-flow: row wrap;
   -moz-flex-flow: row wrap;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
   flex-grow: 1;

    input[type="checkbox"] {
       top: -1px;
       position: relative;
   }
}

.gf-entry-content {
   border-bottom: 1px solid #f8f8f8;
}
